//Color Scheme
$darkBrown: #361c12;
$brown: #4f3b3b;
$darkRed: #9d321b;
$red: #e56655;
$darkYellow: #cd9c50;
$yellow: #f4d37a;
$cream: #f0e9dd;
$carolinablue: #D0E4F2;
$grayblue:#4A6491;
$darkBlue: #1A1F2B;

//color text
$textOne: #4f3b3b;
$textTwo: #fff;
