@import 'Import';

.nav-large {
  background-color:blue;
  max-width: 895px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: $yellow;
  @include borderRadius(5px);
  @include boxShadow(2px 2px 3px rgba(0,0,0,.3));

 span  {
    font-family:"liga";
    font-size:24px;
   }
}
.databinding span  {
  word-wrap: break-word;
}
